@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body
{
    display: list-item;
    padding-left: 100px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.menu-one
{
    position: relative;
    transform: skewY(-15deg);
    /* transition: 0.5s; */
}
.menu-one .list-one
{
    position: relative;
    list-style: none;
    width: 200px;
    background-color: #3e3f46;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;

}

.menu-one .list-one:hover
{
    background: #33a3ee;
    transform: translateX(50px);
}
.menu-one .list-one::before
{
    content: '';
    position: absolute;
    width: 40px;
    height: 100%;
    background: #2d3133;
    top: 0;
    left: -40px;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}
.menu-one .list-one:hover::before
{
background-color: #1f5378;
}
.menu-one .list-one::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    background: #35383e;
    top: -40px;
    left: 0;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}
.menu-one .list-one:hover:after
{
    background-color: #2982b9;
}
.menu-one .list-one .link-one
{
    text-decoration: none;
    color: #999;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition-duration: 0.5s;
}
.menu-one .list-one:hover .link-one
{
    color: #fff;
}
.menu-one .list-one:last-child::after
{
    box-shadow: -120px 120px 20px rgba(0,0,0,0.25);
}

/* SEGUNDO MENU */

.menu-two
{
    padding-top: 250px;
    position: relative;
    transform: skewY(-15deg);
    /* transition: 0.5s; */
}
.menu-two .list-two
{
    position: relative;
    list-style: none;
    width: 200px;
    background-color: #3e3f46;
    padding: 15px;
    z-index: var(--i);
    transition: 0.5s;
    display: inline-block;

}

.menu-two .list-two:hover
{
    background: #33a3ee;
    transform: translateY(-50px);
}
.menu-two .list-two::before
{
    content: '';
    position: absolute;
    width: 40px;
    height: 100%;
    background: #2d3133;
    top: 0;
    left: -40px;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
}
.menu-two .list-two:hover::before
{
background-color: #1f5378;
}
.menu-two .list-two::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    background: #35383e;
    top: -40px;
    left: 0;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
}
.menu-two .list-two:hover:after
{
    background-color: #2982b9;
}
.menu-two .list-two .link-two
{
    text-decoration: none;
    color: #999;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition-duration: 0.5s;
}
.menu-two .list-two:hover .link-two
{
    color: #fff;
}
.menu-two .list-two::after
{
    box-shadow: -120px 120px 20px rgba(0,0,0,0.25);
}

/* MENU TRHEE */

.btn
{
    text-transform: uppercase;
    border:none;
    /* padding-left: 1000; */
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
    transition: 0.5s;
}

.btn
{
    transform: skewX(-10deg);
}
.btn:hover
{
    transform: translateY(-5px);
    transition: 0.5s;
}

/* Button green */

.btn-green
{
    color:#fff;
    box-shadow:0 5px 0 #006000;
}

.btn-green:hover
{
    background:#006000;
    box-shadow:0 5px 0 #003f00;
}

.btn-green:active
{
    position:relative;
    top:5px;
    box-shadow:none;
}

/* Button blue */

.btn-blue
{
    color:#fff;
    box-shadow:0 5px 0 #0e5886;
}
.btn-blue:hover
{
    background:#006000;
    box-shadow:0 5px 0 #103550;
}
.btn-blue:active
{
    position:relative;
    top:5px;
    box-shadow:none;
}

/* Button red */

.btn-red
{
    color:#fff;
    box-shadow:0 5px 0 #860e0e;
}
.btn-red:hover
{
    background:#006000;
    box-shadow:0 5px 0 #501010;
}
.btn-red:active
{
    position:relative;
    top:5px;
    box-shadow:none;
}